body page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  position: relative; }
  body page[size="A4"] #main-bill {
    width: 100%;
    font-family: Arial; }
    body page[size="A4"] #main-bill #titulo-factura {
      border-top: 1px solid;
      border-bottom: 2px solid; }
      body page[size="A4"] #main-bill #titulo-factura h2 {
        color: #40A2C8;
        padding: 0;
        margin: 5px; }
    body page[size="A4"] #main-bill #datos-personales {
      width: 100%;
      display: block;
      overflow: auto; }
      body page[size="A4"] #main-bill #datos-personales #datos-factura {
        width: 30%;
        float: left;
        margin-top: 140px;
        border: 1px solid; }
        body page[size="A4"] #main-bill #datos-personales #datos-factura p {
          width: 100%;
          display: inline-block;
          margin: 0; }
          body page[size="A4"] #main-bill #datos-personales #datos-factura p strong {
            color: #40A2C8;
            float: left;
            width: 44%;
            text-align: right; }
          body page[size="A4"] #main-bill #datos-personales #datos-factura p span {
            float: left;
            width: 47%;
            margin-left: 8px; }
      body page[size="A4"] #main-bill #datos-personales #imagotipo {
        width: 17.5%;
        float: right;
        text-align: right; }
        body page[size="A4"] #main-bill #datos-personales #imagotipo img {
          width: 100%; }
      body page[size="A4"] #main-bill #datos-personales #datos-persona {
        width: 49%;
        float: left;
        text-align: right;
        margin-top: 40px; }
    body page[size="A4"] #main-bill #datos-cliente {
      width: 100%;
      margin-top: 15px;
      border: 1px solid; }
      body page[size="A4"] #main-bill #datos-cliente p {
        width: 100%;
        display: inline-block;
        margin: 0; }
        body page[size="A4"] #main-bill #datos-cliente p strong {
          color: #40A2C8;
          float: left;
          width: 13.5%;
          text-align: right; }
        body page[size="A4"] #main-bill #datos-cliente p span {
          float: left;
          width: 60%;
          margin-left: 9px; }
          body page[size="A4"] #main-bill #datos-cliente p span strong {
            color: inherit;
            width: inherit;
            float: inherit;
            text-align: inherit; }
    body page[size="A4"] #main-bill table {
      width: 100%;
      border: 1px solid #000000;
      border-collapse: collapse;
      margin-top: 15px; }
      body page[size="A4"] #main-bill table tr {
        height: 40px; }
        body page[size="A4"] #main-bill table tr.no-ver td {
          border-color: #737373; }
        body page[size="A4"] #main-bill table tr th, body page[size="A4"] #main-bill table tr td {
          padding: 0;
          margin: 0; }
        body page[size="A4"] #main-bill table tr th {
          border-right: 1px solid; }
          body page[size="A4"] #main-bill table tr th:last-child {
            border: inherit; }
        body page[size="A4"] #main-bill table tr td {
          border-right: 1px solid;
          border-top: 1px solid;
          border-left: 1px solid;
          text-align: center; }
          body page[size="A4"] #main-bill table tr td:last-child {
            border-left: inherit; }
    body page[size="A4"] #main-bill #datos-factura-total {
      width: 100%;
      font-size: 14px; }
      body page[size="A4"] #main-bill #datos-factura-total #datos-pago {
        float: left;
        width: 32%;
        border: 1px solid; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-pago h3 {
          padding: 5px 0 0 4px;
          margin: 0; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-pago span {
          text-align: center;
          display: inline-block;
          width: 100%;
          margin-top: 5px; }
          body page[size="A4"] #main-bill #datos-factura-total #datos-pago span:last-child {
            margin-bottom: 10px; }
      body page[size="A4"] #main-bill #datos-factura-total #datos-subtotal {
        width: 66.99%;
        float: left;
        text-align: center;
        padding: 5px 5px 0 0;
        border: 1px solid;
        border-left: inherit; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-subtotal strong {
          float: left;
          width: 80%; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-subtotal span {
          float: left;
          width: 20%;
          display: inline-block;
          text-align: right; }
      body page[size="A4"] #main-bill #datos-factura-total #datos-vencimiento {
        float: left;
        width: 32%;
        border: 1px solid;
        border-top: inherit; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-vencimiento h3 {
          padding: 5px 0 0 4px;
          margin: 0; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-vencimiento span {
          text-align: center;
          display: inline-block;
          width: 100%;
          margin-top: 5px; }
          body page[size="A4"] #main-bill #datos-factura-total #datos-vencimiento span:last-child {
            margin-bottom: 10px; }
      body page[size="A4"] #main-bill #datos-factura-total #datos-irpf {
        width: 67.46%;
        border: 1px solid;
        border-top: inherit;
        float: left; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-irpf p {
          margin-top: 20px;
          margin-bottom: 7px;
          border: 1px solid;
          border-right: 0px;
          width: 70%;
          float: right; }
          body page[size="A4"] #main-bill #datos-factura-total #datos-irpf p span {
            width: 29%;
            display: inline-block;
            float: left;
            text-align: right;
            border-right: 1px solid; }
            body page[size="A4"] #main-bill #datos-factura-total #datos-irpf p span:first-child {
              width: 40%; }
            body page[size="A4"] #main-bill #datos-factura-total #datos-irpf p span:last-child {
              border-right: 0px; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-irpf #bill-no-iva {
          display: inline-block;
          width: 100%;
          font-size: 12px;
          padding-bottom: 5px;
          padding-left: 6px; }
      body page[size="A4"] #main-bill #datos-factura-total #datos-descuento {
        width: 66.9%;
        border: 1px solid;
        border-top: inherit;
        padding: 5px 5px 5px 0;
        float: right;
        max-height: 51px;
        text-align: center;
        border-left: inherit; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-descuento strong {
          float: left;
          width: 70%; }
          body page[size="A4"] #main-bill #datos-factura-total #datos-descuento strong.no_iva {
            font-size: 10px;
            padding-top: 15px;
            text-align: right; }
        body page[size="A4"] #main-bill #datos-factura-total #datos-descuento span {
          float: left;
          width: 15%;
          display: inline-block;
          text-align: right; }
          body page[size="A4"] #main-bill #datos-factura-total #datos-descuento span:last-child {
            width: 30%;
            padding-top: 12px; }
    body page[size="A4"] #main-bill #datos-vacio {
      width: 32%;
      border: 1px solid;
      border-top: inherit;
      float: left;
      position: relative;
      height: 59px;
      top: -38px; }
    body page[size="A4"] #main-bill #datos-total {
      width: 67.46%;
      border: 1px solid;
      border-top: inherit;
      float: left;
      text-align: right;
      background: #40A2C8;
      font-size: 18px; }
      body page[size="A4"] #main-bill #datos-total strong {
        width: 60%;
        float: left; }
      body page[size="A4"] #main-bill #datos-total span {
        width: 39%;
        float: left;
        font-weight: bold; }
    body page[size="A4"] #main-bill #lopd {
      font-size: 9.5px;
      width: 100%;
      clear: both;
      position: absolute;
      bottom: 0;
      text-align: justify; }

/*# sourceMappingURL=pdf.css.map */
