/*@import url(https://fonts.googleapis.com/css?family=Montserrat);*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
//@import url(https://fonts.googleapis.com/css?family=Raleway);

body, button, select, textarea, input, .btn {
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

body.no-login {
  #main-page, #footer, .wrap-content {
    margin: 0;
  }

}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}

[class*="-form"] {
  margin-top: 60px;
}

nav {
  display: inline-block;
  background: #373d47;
  height: 100%;
  overflow: hidden;
  width: 220px;
  @media (min-width: 768px) {
    z-index: 2001;
    position: absolute;
  }
  .nav-button {
    width: 100%;
    display: inline-block;
    .navigation {
      float: right;
      padding: 0 20px;
      font-size: 16px;
      margin: 2px 2px 0 auto;
      display: block;
      background: #373d47;
    }
  }
  #menu-header {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    .responsive {
      display: none;
    }
  }
  .metismenu {
    background: #000000;
    margin: 0;
    li {
      text-align: inherit;
      color: #ffffff;
      padding: 15px;
      list-style: none;
      position: relative;
      background: #373d47;
      width: 220px;
      &.active {
        border-left: 4px solid #19aa8d;
        background: #2b2a2a;
      }
      &:hover {
        background: #2b2a2a;
      }
      /*&:hover {
        ul.nav-second-level {
          display: inherit;
          position: inherit;
          top: inherit;
          left: inherit;
          margin: 0 0 0 24px;
        }
      }*/
      /*ul {
        &.nav-second-level {
          li {
            padding: 0;
          }
        }
      }*/
      .nav-second-level {
        li {
          background: #2b2a2a;
        }
      }
      a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        position: relative;
        margin-left: 7px;
        span {
          &:first-child {
            margin-right: 23px;
          }
          &.text {
            display: inline-block;
          }
          &.arrow {
            display: inline-block;
          }
        }
      }
    }
  }
  &.closed {
    width: 60px;
    #menu-header {
      .main {
        display: none;
      }
      .responsive {
        display: block;
      }
    }
    .metismenu {
      li {
        font-size: 18px;
        ul.nav-second-level {
          position: absolute;
          left: 56px;
          top: 0;
          margin: 0;
        }
        /*&:hover {
          ul.nav-second-level {
            display: block;
            position: absolute;
            top: 0;
            left: 60px;
            margin: 0;
            li {
              a {
                margin-left: 0;
              }
            }
          }
        }*/
        a {
          font-size: 15px;
          span {
            /*&.text {
              display: none;
            }
            &.arrow {
              display: none;
            }*/
          }
        }
      }
    }
  }
}

.wrap-content {
  padding: 20px 0 20px 0;
  margin: 0 0 0 220px;
  &.compress {
    margin: 0 0 0 60px;
  }
  #main-page {
    height: 100%;
    min-height: 100%;
    text-align: justify;

    column {
      margin-right: 0;
      display: inline-block;
    }

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }

    form {
      .input-prepend {
        span {
          padding-top: 13px;
        }
      }
    }

    .add_date {
      padding: 0 22px;
    }

    /*.nou_pacient {
      border-radius: 50%;
      padding: 15px;
      background-color: #009926;
      color: #fff;
      display: inline-block;
      width: 55px;
      text-align: center;
      font-size: 19px;

    }*/

    .alert {
      margin-top: 20px;
      a {
        color: #2581AF;
      }
    }
    section {
      &:last-child {
        text-align: center;
      }
    }

    #link-container {
      text-align: center;
      margin-bottom: 5px;
    }

    input {
      &[name="nif"] {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        &.ng-valid {
          background: rgba(10, 135, 84, 0.13);
          border-color: rgba(10, 135, 84, 0.13);
          &:-webkit-autofill {
            background: rgba(10, 135, 84, 0.13) !important;
            -webkit-box-shadow: 0 0 0px 1000px rgba(10, 135, 84, 0.13) inset;
          }
        }
      }
    }

    .buttons {
      border: 1px solid #aaaaaa;
      border-radius: 2px;
      padding: 10px;
      margin-top: 10px;
      text-decoration: none;
      color: #000;
      display: inline-block;
      :hover {
        color: inherit;
      }
    }

    .list-backups {
      list-style: none;
      margin: 0 auto;
      display: table;
      li {
        a {
          text-decoration: none;
        }
      }
    }

    #layout12-main {
      row {
        flex-wrap: wrap;
      }
      h1, h2, h3, h4, h5, h6 {
        &.backup_title {
          text-align: center !important;
        }
        text-align: inherit;
      }
      form {
        margin-top: 0;
        section {
          text-align: inherit;
        }
      }
      #review-content {
        form {
          textarea {
            height: 60px;
          }
        }
        .separation {
          margin-left: 10px;
        }
      }
      #buscador-content {
        border-left: 1px solid #ccc;
        form {
          margin-top: 0;
          margin-left: 10px;
          .autocomplete-list {
            border-radius: 2px;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            ul {
              list-style: none;
              margin: 0;
              padding-top: 10px;
              padding-bottom: 5px;
              li {
                cursor: pointer;
                span {
                  margin-left: 10px;
                }
                &:hover {
                  background: #dfdfdf;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-pacients {
    width: 100%;
    .review-text {
      width: 100%;
      div {
        width: 100%;
        margin: 0;
      }
      margin-bottom: 10px;
      span {
        cursor: pointer;
      }
      article {
        width: 100%;
        margin-bottom: 0 !important;
        display: block;
        border-radius: 0 2px 2px 0;
        border: 1px solid #dfdfdf;
        overflow: auto;
        pre {
          background: #fff;
          padding: 0.9rem 1rem;
          margin-bottom: 0;
          word-wrap: break-word;
        }
      }
      textarea {
        min-height: 250px;
      }
    }
  }
  .bill-content {
    .bill_id-date {
      width: 200px;
      section {
        min-height: 40px;
        label {
          display: inline-block;
          & + input {
            display: inline-block;
            float: right;
            width: 95px;
          }
        }
      }
    }
    .bill_info {
      text-align: right;
      padding-right: 20px;
      p {
        &.strong {
          font-weight: bold;
        }
        margin: 0;
      }
    }
    .client-info {
      width: 300px;
      section {
        min-height: 40px;
        label {
          display: inline-block;
          & + input {
            display: inline-block;
            float: right;
            width: 195px;
          }
        }
      }
      .autocomplete-list {
        border-radius: 2px;
        border: 1px solid #dfdfdf;
        position: relative;
        background: #fff;
        top: 16px;
        ul {
          &+ ul {
            padding-top: 0px;
          }
          list-style: none;
          margin: 0;
          padding-top: 16px;
          padding-bottom: 5px;
          li {
            cursor: pointer;
            span {
              margin-left: 10px;
            }
            &:hover {
              background: #dfdfdf;
            }
          }
        }
      }
    }
    .bill-payment-info {
      width: 50%;
      float: left;
      .bank-account-number {
        margin-top: 10px;
        display: inline-block;
      }
    }
    .bill-amount-info {
      width: 50%;
      float: left;
      padding-right: 20px;
      .subtotal-info {
        display: inline;
        label {
          float: left;
        }
        .subtotal {
          float: right;
        }
      }
    }
  }
}

#footer {
  padding: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 0 200px;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  &.compress {
    margin: 0 0 0 60px;
  }
}

nav, li.active, .wrap-content, #footer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* when hiding the picture */
.alert.ng-hide-add {
  animation: 0.5s lightSpeedOut ease;
}

/* when showing the picture */
.alert.ng-hide-remove {
  animation: 0.5s flipInX ease;
}

/* when hiding the picture */
.autocomplete-list.ng-hide-add {
  animation: 0.5s zoomOut ease;
}

/* when showing the picture */
.autocomplete-list.ng-hide-remove {
  animation: 0.5s zoomIn ease;
}

.show-review {
  animation: 0.5s shake ease;
}

/* animations */
#check {
  fill: none;
  stroke: green;
  stroke-width: 20;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  -webkit-animation: draw 2s infinite ease;
  animation: draw 2s infinite ease;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}