/*@import url(https://fonts.googleapis.com/css?family=Montserrat);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, button, select, textarea, input, .btn {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

[class*="-form"] {
  margin-top: 60px;
}

#main-page {
  height: 100%;
  min-height: 100%;
  margin: 0;

  .navigation {
    padding: 0 20px;
    margin-top: 5px;
    font-size: 16px;
    margin: 2px auto 0 auto;
    display: block;
  }
  .alert {
    margin-top: 20px;
    a {
      color: #2581AF;
    }
  }
  section {
    &:last-child {
      text-align: center;
    }
  }

  #link-container {
    text-align: center;
    margin-bottom: 5px;
  }
  nav {
    width: 60px;
    display: inline-block;
    background: #000000;
    &.expanded {
      width: 200px;
      .navigation {
        margin: 2px 0 0 2px;
      }
      .metismenu {
        li {
          text-align: inherit;
          & > span {
            display: none;
          }
          a {
            span {
              &:first-child {
                display: block;
              }
              &:nth-child(2) {
                display: none;
              }
            }
          }
        }
      }
    }
    .metismenu {
      background: #000000;
      margin: 0;
      li {
        text-align: center;
        font-size: 18px;
        color: #ffffff;
        padding: 15px;
        list-style: none;
        a {
          span {
            &:first-child {
              display: none;
            }
          }
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

#footer {
  padding: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

nav, li.active {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
