@import url(https://fonts.googleapis.com/css?family=Montserrat);

body, button, select, textarea, input, .btn {
  font-family: 'Montserrat', sans-serif;
}

[class*="-form"] {
  margin-top: 60px;
}

#main-page {
  .alert {
    margin-top: 20px;
    a {
      color: #2581AF;
    }
  }
  section {
    &:last-child {
      text-align: center;
    }
  }

  #link-container {
    text-align: center;
  }

}

#footer {
  padding: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
