@import url(https://fonts.googleapis.com/css?family=Lato);
body,
button,
select,
textarea,
input,
.btn {
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lato', sans-serif;
  height: 100%;
}

body .tooltip,
button .tooltip,
select .tooltip,
textarea .tooltip,
input .tooltip,
.btn .tooltip {
  background: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
  width: auto;
  height: auto;
  font-size: 11px;
  padding: 5px;
}

body .tooltip p,
button .tooltip p,
select .tooltip p,
textarea .tooltip p,
input .tooltip p,
.btn .tooltip p {
  margin: 0;
}

body.no-login #main-page,
body.no-login #footer,
body.no-login .wrap-content {
  margin: 0;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}

[class*="-form"] {
  margin-top: 60px;
}

nav {
  display: inline-block;
  background: #373d47;
  height: 100%;
  overflow: hidden;
  width: 220px;
}

@media (min-width: 768px) {
  nav {
    z-index: 2001;
    position: absolute;
  }
}

nav .nav-button {
  width: 100%;
  display: inline-block;
}

nav .nav-button .navigation {
  float: right;
  padding: 0 20px;
  font-size: 16px;
  margin: 2px 2px 0 auto;
  display: block;
  background: #373d47;
}

nav #menu-header {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 1px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

nav #menu-header .responsive {
  display: none;
}

nav #menu-user-info {
  text-align: center;
  color: #fff;
}

nav #menu-user-info a {
  text-decoration: none;
  color: #fff;
}

nav #menu-user-info .circle-online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2ca02c;
  display: inline-block;
}

nav .metismenu {
  background: #000000;
  margin: 0;
}

nav .metismenu li {
  text-align: inherit;
  color: #ffffff;
  padding: 15px;
  list-style: none;
  position: relative;
  background: #373d47;
  width: 220px;
  /*&:hover {
        ul.nav-second-level {
          display: inherit;
          position: inherit;
          top: inherit;
          left: inherit;
          margin: 0 0 0 24px;
        }
      }*/
  /*ul {
        &.nav-second-level {
          li {
            padding: 0;
          }
        }
      }*/
}

nav .metismenu li.active {
  border-left: 4px solid #19aa8d;
  background: #2b2a2a;
}

nav .metismenu li:hover {
  background: #2b2a2a;
}

nav .metismenu li .nav-second-level li {
  background: #2b2a2a;
}

nav .metismenu li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  position: relative;
  margin-left: 7px;
}

nav .metismenu li a span:first-child {
  margin-right: 23px;
}

nav .metismenu li a span.text {
  display: inline-block;
}

nav .metismenu li a span.arrow {
  display: inline-block;
}

nav.closed {
  width: 60px;
}

nav.closed #menu-header .main {
  display: none;
}

nav.closed #menu-header .responsive {
  display: block;
}

nav.closed #menu-user-info .full-name {
  display: none;
}

nav.closed .metismenu li {
  font-size: 18px;
  /*&:hover {
          ul.nav-second-level {
            display: block;
            position: absolute;
            top: 0;
            left: 60px;
            margin: 0;
            li {
              a {
                margin-left: 0;
              }
            }
          }
        }*/
}

nav.closed .metismenu li ul.nav-second-level {
  position: absolute;
  left: 56px;
  top: 0;
  margin: 0;
}

nav.closed .metismenu li a {
  font-size: 15px;
}

nav.closed .metismenu li a span {
  /*&.text {
              display: none;
            }
            &.arrow {
              display: none;
            }*/
}

.wrap-content {
  padding: 20px 0 20px 0;
  margin: 0 0 0 220px;
}

.wrap-content.compress {
  margin: 0 0 0 60px;
}

.wrap-content #main-page {
  height: 100%;
  min-height: 100%;
  text-align: justify;
  /*.nou_pacient {
      border-radius: 50%;
      padding: 15px;
      background-color: #009926;
      color: #fff;
      display: inline-block;
      width: 55px;
      text-align: center;
      font-size: 19px;

    }*/
}

.wrap-content #main-page #search_pacient_form .autocomplete ul {
  list-style: none;
  margin: 5px 0 0 0;
}

.wrap-content #main-page #search_pacient_form .autocomplete ul li {
  height: 30px;
  border-left: 3px solid #e0e0e0;
  margin-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
}

.wrap-content #main-page #search_pacient_form .autocomplete ul li:hover {
  border-color: #4392B2;
}

.wrap-content #main-page #search_pacient_form .autocomplete ul li span {
  display: inline-block;
  vertical-align: sub;
  float: left;
  width: 63%;
}

.wrap-content #main-page #search_pacient_form .autocomplete ul li span.actions {
  float: left;
  width: 37%;
  text-align: right;
  padding-right: 5px;
}

.wrap-content #main-page #search_pacient_form .autocomplete ul li span.actions a {
  text-decoration: none;
  color: #c9c9c9;
}

.wrap-content #main-page #search_pacient_form .autocomplete ul li span.actions a:hover {
  color: #4392B2;
}

.wrap-content #main-page column {
  margin-right: 0;
  display: inline-block;
}

.wrap-content #main-page h1,
.wrap-content #main-page h2,
.wrap-content #main-page h3,
.wrap-content #main-page h4,
.wrap-content #main-page h5,
.wrap-content #main-page h6 {
  text-align: center;
}

.wrap-content #main-page #layout12-main,
.wrap-content #main-page #layout11-main {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap-content #main-page #layout12-main > h2,
.wrap-content #main-page #layout11-main > h2 {
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center !important;
}

.wrap-content #main-page #layout12-main row,
.wrap-content #main-page #layout11-main row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap-content #main-page #layout12-main h1,
.wrap-content #main-page #layout12-main h2,
.wrap-content #main-page #layout12-main h3,
.wrap-content #main-page #layout12-main h4,
.wrap-content #main-page #layout12-main h5,
.wrap-content #main-page #layout12-main h6,
.wrap-content #main-page #layout11-main h1,
.wrap-content #main-page #layout11-main h2,
.wrap-content #main-page #layout11-main h3,
.wrap-content #main-page #layout11-main h4,
.wrap-content #main-page #layout11-main h5,
.wrap-content #main-page #layout11-main h6 {
  text-align: inherit;
}

.wrap-content #main-page #layout12-main h1.backup_title,
.wrap-content #main-page #layout12-main h2.backup_title,
.wrap-content #main-page #layout12-main h3.backup_title,
.wrap-content #main-page #layout12-main h4.backup_title,
.wrap-content #main-page #layout12-main h5.backup_title,
.wrap-content #main-page #layout12-main h6.backup_title,
.wrap-content #main-page #layout11-main h1.backup_title,
.wrap-content #main-page #layout11-main h2.backup_title,
.wrap-content #main-page #layout11-main h3.backup_title,
.wrap-content #main-page #layout11-main h4.backup_title,
.wrap-content #main-page #layout11-main h5.backup_title,
.wrap-content #main-page #layout11-main h6.backup_title {
  text-align: center !important;
}

.wrap-content #main-page #layout12-main form,
.wrap-content #main-page #layout11-main form {
  margin-top: 0;
}

.wrap-content #main-page #layout12-main form section,
.wrap-content #main-page #layout11-main form section {
  text-align: inherit;
}

.wrap-content #main-page #birthday-list {
  text-align: center;
}

.wrap-content #main-page #birthday-list #birthdays tr td:last-child {
  text-align: center;
}

.wrap-content #main-page #birthday-list #birthdays tr td:last-child input[type=checkbox] {
  display: none;
}

.wrap-content #main-page #birthday-list #birthdays tr td:last-child input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.wrap-content #main-page #birthday-list #birthdays tr td:last-child input[type=checkbox]:checked + label:before {
  content: "\2714";
  /* Tick */
  color: white;
  background-color: #666;
  text-align: center;
  line-height: 15px;
  text-shadow: 0px 0px 3px #eee;
}

.wrap-content #main-page .main-pacients {
  width: 100%;
}

.wrap-content #main-page .main-pacients .review-text {
  width: 100%;
  margin-bottom: 10px;
}

.wrap-content #main-page .main-pacients .review-text div {
  width: 100%;
  margin: 0;
}

.wrap-content #main-page .main-pacients .review-text span {
  cursor: pointer;
}

.wrap-content #main-page .main-pacients .review-text article {
  width: 100%;
  margin-bottom: 0 !important;
  display: block;
  border-radius: 0 2px 2px 0;
  border: 1px solid #dfdfdf;
  overflow: auto;
}

.wrap-content #main-page .main-pacients .review-text article pre {
  background: #fff;
  padding: 0.9rem 1rem;
  margin-bottom: 0;
  word-wrap: break-word;
}

.wrap-content #main-page .main-pacients .review-text textarea {
  min-height: 250px;
}

.wrap-content #main-page table#bills thead th:nth-of-type(2) {
  width: 30%;
}

.wrap-content #main-page .bill-content table tr {
  height: 72px;
}

.wrap-content #main-page .bill-content table tr td .small-input {
  width: 20%;
  padding: 0;
  height: inherit;
  text-align: center;
  margin-top: 12px;
}

.wrap-content #main-page .bill-content .bill_id-date {
  width: 200px;
}

.wrap-content #main-page .bill-content .bill_id-date section {
  min-height: 40px;
}

.wrap-content #main-page .bill-content .bill_id-date section label {
  display: inline-block;
}

.wrap-content #main-page .bill-content .bill_id-date section label + input {
  display: inline-block;
  float: right;
  width: 95px;
}

.wrap-content #main-page .bill-content .bill_info {
  text-align: right;
  padding-right: 20px;
}

.wrap-content #main-page .bill-content .bill_info p {
  margin: 0;
}

.wrap-content #main-page .bill-content .bill_info p.strong {
  font-weight: bold;
}

.wrap-content #main-page .bill-content .client-info {
  width: 300px;
}

.wrap-content #main-page .bill-content .client-info section {
  min-height: 40px;
}

.wrap-content #main-page .bill-content .client-info section label {
  display: inline-block;
}

.wrap-content #main-page .bill-content .client-info section label + input {
  display: inline-block;
  float: right;
  width: 195px;
}

.wrap-content #main-page .bill-content .client-info .autocomplete-list {
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  position: relative;
  background: #fff;
  top: 16px;
}

.wrap-content #main-page .bill-content .client-info .autocomplete-list ul {
  list-style: none;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 0px;
}

.wrap-content #main-page .bill-content .client-info .autocomplete-list ul + ul {
  padding-top: 0px;
}

.wrap-content #main-page .bill-content .client-info .autocomplete-list ul li {
  cursor: pointer;
}

.wrap-content #main-page .bill-content .client-info .autocomplete-list ul li span {
  margin-left: 10px;
}

.wrap-content #main-page .bill-content .client-info .autocomplete-list ul li:hover {
  background: #dfdfdf;
}

.wrap-content #main-page .bill-content .bill-payment-info {
  width: 20%;
  float: left;
}

.wrap-content #main-page .bill-content .bill-payment-info select {
  width: 250px;
}

.wrap-content #main-page .bill-content .bill-payment-info .bank-account-number {
  margin-top: 10px;
  display: inline-block;
}

.wrap-content #main-page .bill-content .bill-amount-info {
  width: 80%;
  float: left;
  padding-right: 20px;
}

.wrap-content #main-page .bill-content .bill-amount-info .subtotal-info {
  display: inline;
}

.wrap-content #main-page .bill-content .bill-amount-info .subtotal-info label {
  float: left;
  text-align: center;
  width: 80%;
}

.wrap-content #main-page .bill-content .bill-amount-info .subtotal-info .subtotal {
  float: right;
}

.wrap-content #main-page .bill-content .bill-amount-info .bill-discount {
  display: block;
  width: 100%;
  clear: both;
}

.wrap-content #main-page .bill-content .bill-amount-info .bill-discount label {
  float: left;
  text-align: center;
  width: 80%;
}

.wrap-content #main-page .bill-content .bill-amount-info .bill-discount .percent {
  float: left;
  width: 10%;
  display: inline-block;
}

.wrap-content #main-page .bill-content .bill-amount-info .bill-discount .percent input {
  display: inline-block;
  width: 50%;
  padding: 0;
  height: inherit;
  text-align: center;
}

.wrap-content #main-page .bill-content .bill-amount-info .bill-discount .discount-amount {
  float: left;
  width: 10%;
  display: inline-block;
  text-align: right;
}

.wrap-content #main-page .bill-content .bill-amount-info .bill-iva label {
  float: left;
  text-align: center;
  width: 80%;
}

.wrap-content #main-page .bill-content .bill-amount-info .bill-iva .iva-amount {
  float: left;
  text-align: right;
  width: 20%;
}

.wrap-content #main-page .bill-content .bill-expiration-date {
  width: 20%;
  float: left;
  clear: both;
}

.wrap-content #main-page .bill-content .bill-irpf {
  width: 80%;
  float: left;
}

.wrap-content #main-page .bill-content .bill-irpf label {
  float: left;
  text-align: right;
  width: 80%;
}

.wrap-content #main-page .bill-content .bill-irpf .percent {
  float: left;
  width: 10%;
  display: inline-block;
  text-align: center;
}

.wrap-content #main-page .bill-content .bill-irpf .percent input {
  display: inline-block;
  width: 50%;
  padding: 0;
  height: inherit;
  text-align: center;
}

.wrap-content #main-page .bill-content .bill-total {
  clear: both;
  width: 80%;
  float: right;
}

.wrap-content #main-page .bill-content .bill-total .total {
  text-align: right;
  background: #40A2C8;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  color: #fff;
  padding-right: 20px;
}

.wrap-content #main-page form .input-prepend span {
  padding-top: 13px;
}

.wrap-content #main-page .add_date {
  padding: 0 22px;
}

.wrap-content #main-page .alert {
  margin-top: 20px;
}

.wrap-content #main-page .alert a {
  color: #2581AF;
}

.wrap-content #main-page section:last-child {
  text-align: center;
}

.wrap-content #main-page #link-container {
  text-align: center;
  margin-bottom: 5px;
}

.wrap-content #main-page input[name="nif"] {
  transition: all 0.5s;
}

.wrap-content #main-page input[name="nif"].ng-valid {
  background: rgba(10, 135, 84, 0.13);
  border-color: rgba(10, 135, 84, 0.13);
}

.wrap-content #main-page input[name="nif"].ng-valid:-webkit-autofill {
  background: rgba(10, 135, 84, 0.13) !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(10, 135, 84, 0.13) inset;
}

.wrap-content #main-page .buttons {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.wrap-content #main-page .buttons :hover {
  color: inherit;
}

.wrap-content #main-page .list-backups {
  list-style: none;
  margin: 0 auto;
  display: table;
}

.wrap-content #main-page .list-backups li a {
  text-decoration: none;
}

.wrap-content #main-page #grid-shortcuts {
  width: 100%;
  padding: 25px;
}

.wrap-content #main-page #grid-shortcuts .box {
  width: 33%;
  border-radius: 2px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.wrap-content #main-page #grid-shortcuts .box.widget {
  width: 23.5%;
}

.wrap-content #main-page #grid-shortcuts .box h3 {
  background: #e0e0e0;
  padding: 15px;
}

.wrap-content #main-page #grid-shortcuts .box .content {
  padding: 10px;
}

.wrap-content #main-page #grid-shortcuts .box .content.show-stats {
  padding: 0;
}

.wrap-content #main-page #grid-shortcuts .box .content input {
  width: 100%;
}

.wrap-content #main-page #grid-shortcuts .box .content .autocomplete ul {
  list-style: none;
  margin: 5px 0 0 0;
}

.wrap-content #main-page #grid-shortcuts .box .content .autocomplete ul li {
  height: 30px;
  border-left: 3px solid #e0e0e0;
  margin-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
}

.wrap-content #main-page #grid-shortcuts .box .content .autocomplete ul li:hover {
  border-color: #4392B2;
}

.wrap-content #main-page #grid-shortcuts .box .content .autocomplete ul li span {
  display: inline-block;
  vertical-align: sub;
  float: left;
  width: 63%;
}

.wrap-content #main-page #grid-shortcuts .box .content .autocomplete ul li span.actions {
  float: left;
  width: 37%;
  text-align: right;
  padding-right: 5px;
}

.wrap-content #main-page #grid-shortcuts .box .content .autocomplete ul li span.actions a {
  text-decoration: none;
  color: #c9c9c9;
}

.wrap-content #main-page #grid-shortcuts .box .content .autocomplete ul li span.actions a:hover {
  color: #4392B2;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box {
  min-height: 100px;
  background: #ffffff;
  text-align: center;
  position: relative;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box a {
  text-decoration: none;
  color: inherit;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .fa {
  margin-right: 0px;
  width: 66px;
  height: 130px;
  text-align: center;
  line-height: 105px;
  font-size: 3.5em;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics {
  overflow: hidden;
  border-top: 1px solid #DDD;
  background: #f9f9f9;
  padding: 1.5em;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics h5 {
  margin: 10px 0;
  color: #575757;
  font-size: 2.5em;
  transition: all 0.2s;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics h5:hover {
  font-size: 5.5em;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow {
  position: absolute;
  top: 51%;
  background: #8BC34A;
  /*width: 95px;*/
  height: 30px;
  /*padding: .4em 0 0;*/
  padding: 6px;
  cursor: pointer;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow.alert-msg {
  background: #E0CC54;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow.success-msg {
  background: #53ab5b;
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow.bigger {
  width: 115px;
}

@media (min-width: 961px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow.bigger {
    left: 19% !important;
  }
}

@media (min-width: 1025px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow.bigger {
    left: 29%;
  }
}

@media (min-width: 1281px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow.bigger {
    left: 36%;
  }
}

@media (min-width: 320px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow {
    /* smartphones, iPhone, portrait 480x320 phones */
  }
}

@media (min-width: 481px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  }
}

@media (min-width: 641px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  }
}

@media (min-width: 961px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow {
    left: 23%;
  }
}

@media (min-width: 1025px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow {
    left: 29%;
  }
}

@media (min-width: 1281px) {
  .wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow {
    left: 38%;
  }
}

.wrap-content #main-page #grid-shortcuts .box .content .counter-box .statistics .grow p {
  color: #fff;
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
}

.wrap-content #main-page #test ul {
  margin: 0 0 50px 0;
  list-style: none;
}

.wrap-content #main-page #test ul li {
  padding-left: 10px;
  height: 40px;
  border-left: 3px solid #2ca02c;
  margin-bottom: 5px;
  background: #e3e3e3;
  border-radius: 2px;
}

.wrap-content #main-page #test ul li div {
  display: block;
  height: 100%;
  vertical-align: middle;
}

.wrap-content #main-page #test ul li div a {
  width: 58%;
  float: left;
  white-space: nowrap;
  height: 100%;
  display: inline-block;
  line-height: 34px;
}

.wrap-content #main-page #test ul li div input {
  width: 50px;
  float: left;
  text-align: center;
}

.wrap-content #main-page #test ul li div span {
  float: right;
  height: 100%;
  display: inline-block;
  line-height: 34px;
  margin-right: 10px;
}

.wrap-content #main-page #test #datos-output {
  background: #e0e0e0;
  padding: 15px;
  border-radius: 2px;
}

.wrap-content #main-page #test #datos-output label {
  font-weight: bold;
  margin-right: 15px;
  min-width: 80px;
  display: inline-block;
}

.wrap-content #main-page #test #datos-output label + span {
  margin-right: 4px;
}

.wrap-content #main-page #test #datos-output #check {
  color: #2ca02c;
  font-weight: bold;
}

.wrap-content #main-page #test #output {
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  padding: 15px;
}

#footer {
  padding: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 0 200px;
}

#footer:after {
  content: "";
  display: block;
  clear: both;
}

#footer.compress {
  margin: 0 0 0 60px;
}

nav,
li.active,
.wrap-content,
#footer {
  transition: all 0.5s;
}

/* when hiding the picture */

.ng-hide-add {
  animation: 0.5s lightSpeedOut ease;
}

.autocomplete.ng-hide-remove {
  animation: 0.5s slideInDown ease !important;
}

.autocomplete.ng-hide-add {
  animation: 0.5s slideOutUp ease !important;
}

/* when showing the picture */

.ng-hide-remove {
  animation: 0.5s flipInX ease;
}

.show-review {
  animation: 0.5s shake ease;
}

/* animations */

#check {
  fill: none;
  stroke: green;
  stroke-width: 20;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: draw 2s infinite ease;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.clearfix {
  clear: both;
}