nav {
  width: 100%;
  background: #373d47;
  height: 60px;
  &.opened {
    height: auto;
    .metismenu {
      display: block;
    }
  }
  .nav-button {
    display: inline-block;
    height: 100%;
    float: right;
    .navigation {
      display: inline-block;
      padding: 0 20px;
      font-size: 16px;
      background: #373d47;
      line-height: 60px;
      height: 100%;
    }
  }
  #menu-header {
    height: 100%;
    text-align: center;
    a {
      display: inline-block;
      margin-top: 6px;
      img {
        width: 40px;
        display: inline-block;
        position: relative;
        &:first-of-type {
          display: none;
        }
      }
    }
  }
  #menu-user-info {
    float: left;
    display: inline-block;
    width: 50px;
    text-align: center;
    color: #fff;
    height: 100%;
    font-size: 16px;
    a {
      line-height: 60px;
      text-decoration: none;
      color: inherit;
      .circle-online {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #2ca02c;
        display: inline-block;

      }
    }
  }
  .metismenu {
    display: none;
    width: 100%;
    margin: 0;
    clear: both;
    li {
      text-align: inherit;
      color: #ffffff;
      padding: 15px;
      list-style: none;
      position: relative;
      background: #373d47;
      &.active {
        border-left: 4px solid #19aa8d;
        background: #2b2a2a;
      }
      &:hover {
        background: #2b2a2a;
      }
      .nav-second-level {
        li {
          background: #2b2a2a;
        }
      }
      a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        position: relative;
        margin-left: 7px;
        span {
          &:first-child {
            margin-right: 23px;
          }
          &.text {
            display: inline-block;
          }
          &.arrow {
            display: inline-block;
          }
        }
      }
    }
  }

}

.wrap-content {
  width: 100%;
  height: 100%;
  padding: 10px;
  table {
    &.larger {
      overflow-x: auto;
      display: block;
    }
    & + p {
      text-align: center;
    }
    tbody {
      tr {
        td {
          &:last-of-type {
            a {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  form {
    &.forms {
      label {
        display: inline-block;
      }
    }
    button {
      &[type="primary"] {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

footer {
  padding: 10px;
  font-size: 12px;
}